[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
requests = "*"
html2text = "*"
python-dateutil = "*"
tornado = "*"

[dev-packages]

[requires]
python_version = "3.12"
